<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="$(find v_tsukuba)/maps/tsukuba_unity_for_costmap"/>

    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file).yaml"/>

    <node pkg="waypoint_nav" type="waypoint_editor" name="waypoint_editor" output="screen">
        <param name="filename" value="/home/fmasa/catkin_ws/src/v_tsukuba/maps/tsukuba_unity_way.yaml"/>
        <param name="map_frame" value="map"/>
        <rosparam file="$(find waypoint_nav)/config/function_list.yaml" command="load"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find waypoint_nav)/rviz/editor.rviz" />
</launch>
